In [8]:
import csv

with open(r'C:\Users\RaghulRamesh\OneDrive\Desktop\ETL\customer.csv','r') as cf:
    cust_data=csv.reader(cf)
    
    line_count=0
    for row in cust_data:
        if line_count == 0:
            print("Columns are : {} \n\n".format(",".join(row)))
            line_count +=1
        else:
            #print(row[1] + " : " + row[-1])
            print(",".join(row))

Columns are : CustID,name,age,city


1000,Ramkumar,22,Bangalore
1001,Durga,25,Hyderabad
1002,Vijay,30,Chennai
1003,Nithya,34,Bangalore
1004,Aveek,40,Delhi

In [14]:
with open(r'C:\Users\RaghulRamesh\OneDrive\Desktop\ETL\transaction_data.csv','w',newline='') as cf:
    data=csv.writer(cf)
    
    data.writerow(["TransID","CustID","Product","Amount"])
    data.writerow(["1","1000","Laptop","75000"])
    data.writerow(["2","1003","Mobile","125000"])
    data.writerow(["3","1001","TV","65000"])

# JSON

In [15]:
import json

In [21]:
with open(r'C:\Users\RaghulRamesh\PycharmProjects\pythonProject\trainer_info.json','r') as fo:
    data = json.load(fo)
    
for k in data.keys():
    print(k + '  :  '+str(data[k]))

Name  :  Raghul Ramesh
City  :  Chennai
Tech  :  ['Python', 'AIML', 'AWS']
Manager  :  False
Salary  :  None

In [24]:
sample_dict={
    'name':'Karthik',
    'grade':'O',
    'class':12,
    'online':False,
    'Fee_outstanding': None
}

with open(r'C:\Users\RaghulRamesh\OneDrive\Desktop\ETL\student.json','w') as wfo:
    json.dump(sample_dict,wfo)