# DATETIME

In [1]:
%a weekday's abbreviated name       Sun,Mon,...Sat
%A weekday's full name              Sunday,, Monday...Saturday
%b Month's abbreviated name         Jan, Feb,....Dec
%B Month's fullname                 January, February... December
%d days of month                    01,02,03.....31
%w weekday in a decimal value       0-Sunday, 1-Monday.....6-Saturday
%m Month in a deciaml value         01,02,....12
%y year is 2 digit format           22,23,24,25,26.......
%Y year in 4 digit format           2022,2023,2024......
%H hours                            00...23
%I 12-hours format                  00...12
%p  AM|PM
%M Minutes                          00..59
%S Seconds                          00..59
%f microseconds
%z timezone

UsageError: Line magic function `%a` not found.

In [2]:
import datetime

In [4]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [6]:
dy=datetime.date(2022,8,25)

In [7]:
dy.year

2022

In [8]:
dy.month

8

In [9]:
dy.day

25

In [12]:
dt=datetime.timedelta(200)

In [13]:
dy+dt

datetime.date(2023, 3, 13)

In [14]:
dy-dt

datetime.date(2022, 2, 6)

In [15]:
datetime.datetime.now()

datetime.datetime(2022, 8, 25, 11, 6, 40, 907436)

In [16]:
datetime.date.today()

datetime.date(2022, 8, 25)

In [28]:
dt=datetime.datetime.now()
print(dt.strftime("%d-%m-%Y %I:%M:%S %p"))
#25-8-2022 11:10 AM

25-08-2022 11:12:36 AM

In [32]:
dt=datetime.datetime.now()
print(dt.strftime("%A, %d %B %Y"))

Thursday, 25 August 2022

In [33]:
dt=datetime.datetime.now()
print(dt.strftime("%m/%d/%Y"))

08/25/2022

In [34]:
#=======================

In [35]:
 mydict={'Name': 'Dhoni', 'Experience': 20}

In [36]:
mydict['Game']='Cricket'

In [37]:
mydict

{'Name': 'Dhoni', 'Experience': 20, 'Game': 'Cricket'}

In [39]:
d1={'Name':'Guru', 'Class':'Second'}
d2={'Mark1':80, 'Mark2':70}
d3={'Mark3':90, 'Mark4':60}

In [42]:
d1.update(d2)

In [44]:
d1.update(d3)

In [45]:
d1

{'Name': 'Guru',
 'Class': 'Second',
 'Mark1': 80,
 'Mark2': 70,
 'Mark3': 90,
 'Mark4': 60}

In [51]:
d1={'Name':'Guru', 'Class':'Second'}
d2={'Mark1':80, 'Mark2':70}
d3={'Mark3':90, 'Mark4':60}

In [52]:
d4={}
d4.update(d1)
d4.update(d2)
d4.update(d3)

In [53]:
d4

{'Name': 'Guru',
 'Class': 'Second',
 'Mark1': 80,
 'Mark2': 70,
 'Mark3': 90,
 'Mark4': 60}

In [59]:
d1={'Name':'Guru', 'Class':'Second'}

d1.get('Salary','Not Exists')

'Not Exists'

In [60]:
player = {'Name': 'Dhoni', 'Experience': 20, 'Game':'Cricket'}
for k in player:
    print(k + ' ---> '+str(player[k]))

Name ---> Dhoni
Experience ---> 20
Game ---> Cricket

In [63]:
def create_dict(n):
    d1={}
    for x in range(1,n+1):
        d1[x]=x*x
    print(d1)

In [65]:
create_dict(20)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [66]:
marks = {'m1':80, 'm2':79, 'm3':90, 'm4': 98, 'm5':86}
x=0
for v in marks.values():
    x+=v      # x = x+v
print('Total Marks:',x)

Total Marks: 433

In [67]:
player = {'Name': 'Dhoni', 'Experience': 20, 'Game':'Cricket'}

In [71]:
for k in sorted(player.keys()):
    print(k, player[k])

Experience 20
Game Cricket
Name Dhoni

In [75]:
for k in player.keys():
    print(k+' is '+str(player[k]))

Name is Dhoni
Experience is 20
Game is Cricket

In [77]:
my_dict = {'x':500, 'y':5874, 'z': 560, 'a':600, 'b':680}

print('Minimum:',min(my_dict.values()))
print('Maximum:',max(my_dict.values()))

Minimum: 500
Maximum: 5874

In [78]:
my_dict.values()

dict_values([500, 5874, 560, 600, 680])

In [80]:
a = ['Name', 'Class', 'Mark']
b = None

print(dict.fromkeys(a,b))

{'Name': None, 'Class': None, 'Mark': None}

In [81]:
[ x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
[ x**2 for x in range(1,16) if x%2==0]

[4, 16, 36, 64, 100, 144, 196]

In [92]:
def addition(x,y):
    return x+y

def subraction(x,y):
    return x-y

def division(x,y):
    return x/y

def multiplication(x,y):
    return x*y

import logging
logging.basicConfig(filename=r"C:\Users\RaghulRamesh\OneDrive\Desktop\ETL\output.log",level=logging.DEBUG)
lg=logging.getLogger()

a=10
b=20

res=addition(a,b)
lg.debug('Addition of {} + {} = {}'.format(a,b,res))
res=subraction(a,b)
lg.debug('Subraction of {} - {} = {}'.format(a,b,res))
res=division(a,b)
lg.debug('Division of {} / {} = {}'.format(a,b,res))
res=multiplication(a,b)
lg.debug('Multiplication of {} * {} = {}'.format(a,b,res))