# DICTIONARY

In [ ]:
key value pairs of element
key should be unique
value can be anything
only the immutable type can be a key

In [1]:
dict1={}
type(dict1)

dict

In [2]:
dict2=dict()

In [3]:
type(dict2)

dict

In [4]:
info={'name':'Raghul Ramesh',
     'city':'Chennai',
     'age':37,
     1000:'Marks',
     'tech':['Python','Bigdata','AI',['AWS','AZURE','GCP'],'DevOps','Oracle'],
     'Manager':'Levin Lenus'}

In [5]:
info['name']

'Raghul Ramesh'

In [6]:
info['city']

'Chennai'

In [7]:
info['tech']

['Python', 'Bigdata', 'AI', ['AWS', 'AZURE', 'GCP'], 'DevOps', 'Oracle']

In [8]:
info['salary']

KeyError: 'salary'

In [9]:
info['salary']=1000000

In [10]:
info

{'name': 'Raghul Ramesh',
 'city': 'Chennai',
 'age': 37,
 1000: 'Marks',
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Levin Lenus',
 'salary': 1000000}

In [11]:
info['city']='Bangalore'

In [12]:
info

{'name': 'Raghul Ramesh',
 'city': 'Bangalore',
 'age': 37,
 1000: 'Marks',
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Levin Lenus',
 'salary': 1000000}

In [13]:
info.update({'city':'Hyderabad','Manager':'Ranga','BU':'E&R','Exp':17})

In [14]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 1000: 'Marks',
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'salary': 1000000,
 'BU': 'E&R',
 'Exp': 17}

In [15]:
info.pop('salary')

1000000

In [16]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 1000: 'Marks',
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R',
 'Exp': 17}

In [17]:
info.popitem()

('Exp', 17)

In [18]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 1000: 'Marks',
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R'}

In [20]:
del info[1000]

In [21]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R'}

In [22]:
info['salary']

KeyError: 'salary'

In [25]:
# get and setdefault

info.get('salary')

In [28]:
info.get('salary','not available')

'not available'

In [29]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R'}

In [30]:
info.setdefault('salary','not available')

'not available'

In [31]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R',
 'salary': 'not available'}

In [32]:
info.pop('salary')

'not available'

In [33]:
info.setdefault('salary',100000)

100000

In [34]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R',
 'salary': 100000}

In [35]:
info

{'name': 'Raghul Ramesh',
 'city': 'Hyderabad',
 'age': 37,
 'tech': ['Python',
  'Bigdata',
  'AI',
  ['AWS', 'AZURE', 'GCP'],
  'DevOps',
  'Oracle'],
 'Manager': 'Ranga',
 'BU': 'E&R',
 'salary': 100000}

In [36]:
info.keys()

dict_keys(['name', 'city', 'age', 'tech', 'Manager', 'BU', 'salary'])

In [37]:
info.values()

dict_values(['Raghul Ramesh', 'Hyderabad', 37, ['Python', 'Bigdata', 'AI', ['AWS', 'AZURE', 'GCP'], 'DevOps', 'Oracle'], 'Ranga', 'E&R', 100000])

In [38]:
info.items()

dict_items([('name', 'Raghul Ramesh'), ('city', 'Hyderabad'), ('age', 37), ('tech', ['Python', 'Bigdata', 'AI', ['AWS', 'AZURE', 'GCP'], 'DevOps', 'Oracle']), ('Manager', 'Ranga'), ('BU', 'E&R'), ('salary', 100000)])

In [42]:
for k in info.keys():
    print(k+" ===> "+str(info[k]))

name ===> Raghul Ramesh
city ===> Hyderabad
age ===> 37
tech ===> ['Python', 'Bigdata', 'AI', ['AWS', 'AZURE', 'GCP'], 'DevOps', 'Oracle']
Manager ===> Ranga
BU ===> E&R
salary ===> 100000

In [43]:
for k,v in info.items():
    print(k+" ---> "+ str(v))

name ---> Raghul Ramesh
city ---> Hyderabad
age ---> 37
tech ---> ['Python', 'Bigdata', 'AI', ['AWS', 'AZURE', 'GCP'], 'DevOps', 'Oracle']
Manager ---> Ranga
BU ---> E&R
salary ---> 100000

In [44]:
user=['name','age','gender','mobile','email','pan','aadhar','address']

In [58]:
user1=dict.fromkeys(user)

In [59]:
type(user1)

dict

In [61]:
user1

{'name': None,
 'age': None,
 'gender': None,
 'mobile': None,
 'email': None,
 'pan': None,
 'aadhar': None,
 'address': None}

In [62]:
user1.clear()

In [63]:
user1

{}

In [64]:
print(dir(user1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']