#########  1  ################
# '''1. What will be the output of the following code snippet?
# a=[1,2,3,4,5,6,7,8,9]
# print(a[::2])
# A. [1,2]
# B. [8,9]
# C. [1,3,5,7,9]
# D. [1,2,3]'''

In [1]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])    #from start to end with step size 2

[1, 3, 5, 7, 9]

#############  2 ################
# 2. What are the ways you can create a lists and tuples?

In [15]:
list1=[]
list2=[1,2,3]
tuple1=()

In [18]:
type(tuple1)

tuple

In [16]:
type(list2)

list

############## 3 ################
#3. Can lists and tuples have heterogeneous and hemogeneous data objects? Give me an example?
#Both list and tuplecan can contain heterogeneous and homogeneous data objects

In [2]:
list1=[1,2,3]
list2=[1,'a',[2,3]]

In [3]:
tuple1=(1,2,3)
tuple2=(1,'a',(2,3))

In [6]:
type(tuple2)

tuple

#########   4 ####################
# 4. List out the differences between a list and a tuple?
# a.list in enclosed within square braces "[]" where as tuple is emxlosed with "()"
# b.list occupies more memeory than tuple
#c. list takes longer time than tuple
# d. List is mutable whereas tuple is immutable

################  5  ##################
# 5. How to determine the size of your lists?

In [7]:
list1=[1,2,3,'a',[3,5]]
len(list1)    #size is found by len(i.e length)

5

################  6  ####################
#6. Consider the below list:
#lst = [10, 20, [30, [40, 50], 60], 70, [80]]
#Take out the elements 60, 80 by using the corresponding index values and add the numbers, 
#display the result?

In [19]:
lst=[10, 20, [30, [40, 50], 60], 70, [80]]
result=lst[2].pop(2)+lst[4].pop(0)

In [20]:
lst

[10, 20, [30, [40, 50]], 70, []]

In [21]:
result

140

############  7  #################
# 7. What is the difference between append() and extend()? How do they work? Demonstrate with an example?

# Both append() and extend() are used to add elements to the list but append takes only 1 argument 
# where as extend takes multiple arguments.

In [22]:
list1=[1,2,3]
list1.append(4)

In [24]:
list1
#list1.append(9,10)  # will throw error as it expects only 1 argument

[1, 2, 3, 4]

In [25]:
list1.extend([9,10])
list1

[1, 2, 3, 4, 9, 10]

#############  8  ##################
# 8. How to concatenate lists?

In [26]:
l1=[1,2,3]
l2=[2,3,4]
l3=l1+l2
l3  # l1 values followed by l2 values

[1, 2, 3, 2, 3, 4]

##############  9   ###############
# 9. How to sort a list?

In [28]:
list1=[3,9,4,66,17,35,99]
list1.sort(reverse=False)  # reverse=True for descending order
list1

[3, 4, 9, 17, 35, 66, 99]

#############  10  #################
# 10.How to count occurances of a list item?

In [29]:
list3=[1,4,6,8,2,3,5,2,5,1,5,3,3,9]
list3.count(5)

3

###########  11   ##################
# 11.How do you remove an element from a list?

# can be done in 2 ways- through value or index

In [30]:
list3

[1, 4, 6, 8, 2, 3, 5, 2, 5, 1, 5, 3, 3, 9]

In [31]:
list3.remove(2)   # removes the first occurence of mentioned value

In [32]:
list3

[1, 4, 6, 8, 3, 5, 2, 5, 1, 5, 3, 3, 9]

In [33]:
list3.pop(3)   # takes index as input

8

In [ ]:
############   12   ###################
# 12.Consider the below list:
# lst = [10, 20, 30, 40, 50, 60, 70, 80]
# Help me to insert 15 in between 10 and 20, 45 in between 40 and 50

In [38]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.insert(1,15)

In [39]:
lst

[10, 15, 20, 30, 40, 50, 60, 70, 80]

In [36]:
lst.insert(5,45)

In [37]:
lst

[10, 15, 20, 30, 40, 45, 50, 60, 70, 80]

################  13   ##################
# 13.How do you copy a list from another? 
# we need to import copy package and can use either shallow copy or deep copy

#############  14   ################
# 14. Demonstrate the difference between shallow and deep copy? How do they work?
# shallow copy has effect on inner list where as deep copy has no effect on inner list as well

In [44]:
lst=[1,2,[3,4]]
lst_bk=lst

In [45]:
lst_bk

[1, 2, [3, 4]]

In [46]:
import copy
s_cp=copy.copy(lst)
lst[2].append(10)
lst

[1, 2, [3, 4, 10]]

In [47]:
s_cp

[1, 2, [3, 4, 10]]

In [48]:
d_cp=copy.deepcopy(lst)
lst[2].append(11)
lst

[1, 2, [3, 4, 10, 11]]

In [49]:
d_cp

[1, 2, [3, 4, 10]]

#############   15    ##################
# 15.Consider the below list:
# lst = [10, 20, 30, 40, 50, 60, 70, 80]
# How do you sort the list in descending order?

In [50]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.sort(reverse=True)
lst

[80, 70, 60, 50, 40, 30, 20, 10]

#############   16  ##################
# 16. Consider the below list:
# lst = [10, 20, 30, 40, 50, 60, 70, 80]
# What will be output of the below:
# lst.index(100)

In [53]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
# lst.index(100)  -- would throw error as it no value in index '100'
lst.index(80)

7

In [55]:
lst.find(10)

AttributeError: 'list' object has no attribute 'find'

#################   17   #########################
# 17.How do you find minimum and maximum element/number of a list?

In [59]:
lst=[10,100,30]
min(lst)

10

In [60]:
max(lst)

100

#######################   18    #############################
# 18.Create a list as below:
# [‘Python’, ‘is’, ‘a’, ‘high’, ‘level’, ‘language’]
# For the above list, display the result as
# ‘PYTHON-IS-A-HIGH-LEVEL-LANGUAGE’

In [61]:
l1=['Python','is','a','high','level','language']
'-'.join(l1).upper()

'PYTHON-IS-A-HIGH-LEVEL-LANGUAGE'

######################   19   ########################
# 19. Consider the below list:
# lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]
# Create 4 lists. First list having 10 to 50, the second one having 60 to 100 and third list with 110 
# to 150 and fourth list with the remainin

In [62]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]
lst1=lst[lst.index(10):lst.index(50)+1]

In [63]:
lst1

[10, 20, 30, 40, 50]

In [64]:
lst2=lst[lst.index(60):lst.index(100)+1]
lst3=lst[lst.index(110):lst.index(150)+1]
lst4=lst[lst.index(160):]

In [65]:
lst2

[60, 70, 80, 90, 100]

In [66]:
lst3

[110, 120, 130, 140, 150]

In [67]:
lst4

[160, 170, 180, 190, 200]

###############   20   ##################
# 20.List down all the methods used in list and tuple


#list-  append,insert,remove,pop,sort,count,extend,copy,reverse,clear
# Tuple- count,index